@media (max-width:1300px) {
    .product__more {
        margin-top: 60px;
    }
}

/* ----------- 1200 --------- */
@media (max-width: 1200px) {
    .header {
        margin-bottom: 30px;
    }

    .banner-section__slider-item {
        text-align: center;
    }

    .banner-section__slider-img {
        max-width: 100%;
    }

    .banner-section__inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner-section__slider {
        max-width: 100%;
    }

    .banner-section__item {
        margin-top: 25px;
    }

    .sale-item__footer {
        padding: 15px 20px;
    }

    .sale-item__img {
        max-height: 205px;
    }

    .banner-section__slider-btnprev {
        left: 14%;
    }

    .banner-section__slider-btnnext {
        right: 14%;
    }

    .categories__inner {
        justify-content: space-evenly;
    }

    .products {
        margin-bottom: 60px;
    }

    .catalog__inner-list {
        justify-content: space-around;
    }

}

/* -------- 1100 ---------- */

@media (max-width: 1100px) {
    .menu__item+.menu__item {
        padding-left: 20px;
    }

    .header__adress {
        margin-right: 20px;
    }

    .banner-section__slider-btnprev {
        left: 9%;
    }

    .banner-section__slider-btnnext {
        right: 9%;
    }

    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__top-item {
        margin-bottom: 50px;
    }

    .card__input-search {
        margin-right: 0;
    }
}


/* --------- 968 -------- */

@media (max-width: 968px) {

    .header__bottom {
        display: none;
    }

    .menu__btn {
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .menu__btn-line {
        background: #2f3035;
        border-radius: 3px;
        height: 3px;
        width: 34px;
        margin: 8px 0;
    }

    .menu__list {
        display: none;
    }

    .menu-mobile__linewrapper {
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        background-color: #f0f0f0;
        padding: 14px 0 14px 15px;
        overflow-x: scroll;
    }

    .menu-mobile__line {
        width: 400px;
    }

    .product-card__inner {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .product-card__tabs {
        display: none;
    }

    .product-card__content {
        order: -1;
    }

    .product-card__btn-mobile {
        display: block;
        margin-top: 40px;
    }

    .product-card__img-box {
        width: 100%;
    }

    .product-card__img {
        width: 100%;
    }

    .product-card__price-old {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30%;
    }

    .product-card__title {
        font-size: 20px;
        line-height: 1.2;
    }

    .product-card__code {
        font-size: 15px;
        line-height: 1.2;
    }

    .card__top-line label {
        width: 100%;
        display: block;
        margin-bottom: 25px;
        margin-left: 0;
    }

    .card__list-item {
        display: block;
    }

    .card__list-item div {
        margin-bottom: 15px;
        ;
    }

    .card__list-itmemtitle {
        display: none;
    }

}

/* -------- 890 --------- */
@media(max-width:890px) {

    .tabs-wrapper,
    .catalog__filter-itemsinner {
        overflow-x: scroll;
    }

    .catalog__inner {
        display: block;
    }

    .tabs-wrapper.tabs-wrapper--no-scroll {
        overflow: hidden;
    }

    .asside__btn {
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 50px;
        color: #fff;
        background-color: #1c62cd;
        cursor: pointer;

    }

    .asside-filter {
        display: none;
    }

    .mobile-overflow {
        width: 870px;
    }

    .banner-section__slider,
    .banner-section__slider-img {
        min-height: 200px;
    }

    .catalog__filter-btn button {
        display: none;
    }

    .catalog__filter-btn {
        margin-top: 30px;
    }

    .catalog__filter {
        display: block;
        margin-bottom: 30px;
    }

    .select-item {
        margin-right: 0;
    }
}


/* -------- 640 --------- */

@media(max-width:640px) {
    .header__adress {
        display: none;
    }

    .banner-section .container {
        padding: 0;
    }

    .banner-section__slider,
    .banner-section__slider-img {
        min-height: 200px;
    }

    .search__content-form {
        position: relative;
    }

    .search__content-btn {
        font-size: 0;
        padding: 17px;
        background-image: url('../img/icons/search.svg');
        background-color: transparent;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 15px;
    }

    .search__content-input {
        height: 50px;
        padding-right: 65px;
    }


    .catalog__inner {
        flex-wrap: wrap;
    }


}

/* -------- 540 ----------------- */

@media (max-width:540px) {
    .footer__top-item {
        width: 100%;
    }

    .footer__bottome {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .footer__bottome-link {
        margin: 12px 0;
    }

    .footer__top-inner {
        justify-content: start;
    }

    .footer__top-item {
        margin-bottom: 35px;
    }

    .footer__top-item.footer__top-newslater {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer__top-item.footer__top-social {
        width: 100%;
        border: none;
    }

    .social-list {
        justify-content: space-evenly;
    }

    .footer__bottome {
        padding: 22px 0 22px;
    }

    .footer__top-item {
        border-bottom: 2px solid #dfdfdf;
    }


    .footer__top-title.footer__topdrop {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #7f7f7f;
        padding: 15px 0;
        cursor: pointer;
    }

    .footer-list {
        display: none;
        margin-bottom: 20px;
    }

    .footer__topdrop {
        position: relative;
    }

    .footer__topdrop::after {
        content: '';
        position: absolute;
        background-image: url(../img/icons/arow-B.svg);
        width: 16px;
        height: 8px;
        border-left: none;
        top: 35%;
        right: 0;
        transform: rotate(0);
    }

    .footer__topdrop--active::after {
        transform: rotate(180deg);
    }

    .footer__topdrop {
        pointer-events: auto;
    }
}


/* ------- 400 --------------- */

@media(max-width:400px) {

    .banner-section__slider,
    .banner-section__slider-img {
        min-height: 160px;
    }

    .categories__item {
        padding: 9px 9px 11px;
    }

    .pagination-list__item {
        margin: 0;
    }

    .footer__top-title {
        padding: 0 15px;
    }

    .product-card__button {
        flex-wrap: wrap;
    }

    .product-card__img-box {
        padding-top: 50px;
    }

    .product-card__img {
        height: 265px;
    }

    .product-card__price-new {
        font-size: 32px;
    }

    .product-card__price-old {
        font-size: 20px;
        line-height: .9;
        opacity: 0.6;
        display: inline-block;
        background-image: url(../img/content/line-price-old+.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 36%;
    }

    .product-card__code {
        margin-bottom: 20px;
    }

    .product-card__button {
        margin-bottom: 30px;
    }
}

/* ------- 362 ------------ */
@media (max-width:362px) {
    .rate {
        display: block;
        margin-top: 20px;
    }

}